h1, h2, h3, h4, h5{
    line-height: 1.5; /*altura da linha do texto que eles ocupam*/
}

h6, em{
    line-height: 1.5; /*altura da linha do texto que eles ocupam*/
    color:#ffffff
}


p{
    color: #bebaba;
}

/* ------------------------------NAVBAR---------------------- */

/*em css . a gente customiza uma classse e o # customiza o nome (id)*/
.navbar{
    background-color: #0d6efd;
}

/*texto dentro do meu seach*/
.btn-seach{    
    color: #0d6efd;
    
}
/*texto quando passa o mouse por cima do meu seach*/
.btn-light:hover{
    
    color:#ffffff;
    background-color:#0d6efd;
    border-color:#f9fafb
}
/*texto dentro das divisões*/
.btn-div{    
    color: white;
    
}


/*coloquei os itens mais centralizados*/
.navbar-nav{
    display:contents;
}
/*posição do meu botão de logo na navbar*/
.navbar-brand{
    padding-top:.3125rem;
    padding-bottom:.3125rem;
   
    margin-right:2rem;
    margin-left:0rem;
}


/* ------------------------BANNER -------------------------*/

#banner{
    background-color: #ffffff;
    color: #000000c5; /*cor do texto*/
    padding: 150px 0 70px 0; /*espaçamentos (top, right, button, left)*/
}

#banner img{  /*dentro de banner, todo o componente imagem, será customizado*/
    
    width: 10%;
    border-radius: 50%;
    height: 500px; /*altura da imagem*/
    margin: 0px;
    padding: 0% 0% 0% 0%; /* ate consigo reenquadrar a img, mas será que é assim mesmo?*/
}


.btn-banner{ /*aqui vamos espaçar os botões um do outro e com relação aos textos*/
    margin: 5% 5% 5% 0;
}

#banner h4{ /*dentro de banner, estou mudando apenas h4*/
    color: #737373;
}

.icon-banner {
    color: #0d6efd;
    margin-top: 15px;
    margin-bottom: 15px; /*espaçamento do icone até o texto*/
}

/* FEATURES */

#features{
    padding: 7% 5%;
    background-color: #ffec9f;
}

.feature-box{
    text-align: center;
    padding: 5%; /*espaçamento entre itens das 3 colunas*/
}

.icon{ /*vai estilizar os icones*/
    color: #000000;
    margin-bottom: 15px; /*espaçamento do icone até o texto*/
}

#features h3{ /*dentro de banner, estou mudando apenas h4*/
    color: #737373;
}

#features p{ /*dentro de banner, estou mudando apenas h4*/
    color: #000000;
}


/* TESTEMUNHOS */

#testemunho{
    background-color: #626262;
    color: #ff0000;
    padding: 5% 0% 5% 0%;
    text-align: center;

    }
.carousel-caption{
    width: 56%;
    color: rgb(255, 0, 0);
    padding: 0% 0% 5% 14%;


}

#testemunho img {
    border-radius: 50%;
    width: 10%;
    height: 500px; /*altura da imagem*/
    margin: 0px;
    padding: 0% 25% 0% 25%; /* ate consigo reenquadrar a img, mas será que é assim mesmo?*/
}


/* PRECOS */

#preco .titulo{ /*dentro da classe preço, mudou apenas a classe titulo*/
    margin-top: 5%;
}

#preco{
    background-color: #ffffff;
    padding: 5% 10% 8%;
    color: #020f54;
}


/* FOOTER */

#footer{
    padding: 3% 15%;
    text-align: center;
    background-color: #0d6efd;
}

#footer p{ /*dentro de banner, estou mudando apenas h4*/
    color: #ffffff;
}

.icon_footer{ /*vai estilizar os icones*/
    color: #ffffff;
    margin-bottom: 15px; /*espaçamento do icone até o texto*/
    padding: 0%, 0%, 0%, 50%;
}






