h1, h2, h3, h4, h5{
    line-height: 1.5; /*altura da linha do texto que eles ocupam*/
}

h6, em{
    line-height: 1.5; /*altura da linha do texto que eles ocupam*/
    color:#ffffff
}


p{
    color: #bebaba;
}

/* ------------------------------NAVBAR---------------------- */

/*em css . a gente customiza uma classse e o # customiza o nome (id)*/
.navbar{
    background-color: #0d6efd;
}

/*texto dentro do meu seach*/
.btn-seach{    
    color: #0d6efd;
    
}
/*texto quando passa o mouse por cima do meu seach*/
.btn-light:hover{
    
    color:#ffffff;
    background-color:#0d6efd;
    border-color:#f9fafb
}
/*texto dentro das divisões*/
.btn-div{    
    color: white;
    
}


/*coloquei os itens mais centralizados*/
.navbar-nav{
    display:contents;
}
/*posição do meu botão de logo na navbar*/
.navbar-brand{
    padding-top:.3125rem;
    padding-bottom:.3125rem;
   
    margin-right:2rem;
    margin-left:0rem;
}


/* ------------------------BANNER -------------------------*/

#banner{
    background-color: #ffffff;
    color: #000000c5; /*cor do texto*/
    padding: 150px 0 70px 0; /*espaçamentos (top, right, button, left)*/
}

#banner img{  /*dentro de banner, todo o componente imagem, será customizado*/
    
    width: 10%;
    border-radius: 50%;
    height: 500px; /*altura da imagem*/
    margin: 0px;
    padding: 0% 0% 0% 0%; /* ate consigo reenquadrar a img, mas será que é assim mesmo?*/
}


.btn-banner{ /*aqui vamos espaçar os botões um do outro e com relação aos textos*/
    margin: 5% 5% 5% 0;
}

#banner h4{ /*dentro de banner, estou mudando apenas h4*/
    color: #737373;
}

.icon-banner {
    color: #0d6efd;
    margin-top: 15px;
    margin-bottom: 15px; /*espaçamento do icone até o texto*/
}

/* FEATURES */

#features{
    padding: 7% 5%;
    background-color: #ffec9f;
    
}

.feature-box{
    text-align: center;
    padding: 5%; /*espaçamento entre itens das 3 colunas*/
    position: relative;
}

.icon{ /*vai estilizar os icones*/
    color: #000000;
    margin-bottom: 15px; /*espaçamento do icone até o texto*/
}

#features h3{ /*dentro de banner, estou mudando apenas h4*/
    color: #737373;
}

#features p{ /*dentro de banner, estou mudando apenas h4*/
    color: #000000;
}

.wrapper-bg-f{
    position: relative;
}
    .wrapper-bg-f:before{
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.3;
    background-image: url('https://images-americanas.b2w.io/produtos/4918038192/imagens/papel-de-parede-adesivo-textura-3d-efeitos-ondas-bege-3mx50cm/4918038192_1_large.jpg');
    background-repeat: no-repeat;
    /*background-position: 50% 0;*/
    background-size: 100%;
}



/* TESTEMUNHOS */

#testemunho{
    background-color: #000000;
    color: #ff0000;
    padding: 5% 0% 5% 0%;
    text-align: center;
    position: relative;

    }
.carousel-caption{
    width: 56%;
    color: rgb(255, 0, 0);
    padding: 0% 0% 5% 14%;


}

#testemunho img {
    border-radius: 50%;
    opacity: 0.7;
    width: 10%;
    height: 500px; /*altura da imagem*/
    margin: 0px;
    padding: 0% 25% 0% 25%; /* ate consigo reenquadrar a img, mas será que é assim mesmo?*/
}

.wrapper-bg-t{

    /*background-image: url(https://static.hoymiles.com/cfs/jpg/2101/22/1119770790804459520.jpg);
    background-size: 100%;
      */

    position: relative;
}
    .wrapper-bg-t:before{
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.4;
    background-image: url('https://www.galaxcommerce.com.br/sistema/upload/3344/produtos/papel-de-parede-textura-3d-auto-adesivo-rolo-48cm-x-3m_2022-04-07_20-51-48_0_139.jpg');
    background-repeat: no-repeat;
    /*background-position: 50% 0;*/
    background-size: 100%;
}


/* PRECOS */

#preco .titulo{ /*dentro da classe preço, mudou apenas a classe titulo*/
    margin-top: 5%;
}

#preco{
    background-color: #ffffff;
    padding: 5% 10% 8%;
    color: #020f54;
}


/* FOOTER */

#footer{
    padding: 3% 15%;
    text-align: center;
    background-color: #0d6efd;
}

#footer p{ /*dentro de banner, estou mudando apenas h4*/
    color: #ffffff;
}

.icon_footer{ /*vai estilizar os icones*/
    color: #ffffff;
    margin-bottom: 15px; /*espaçamento do icone até o texto*/
    padding: 0%, 0%, 0%, 50%;
}






