.form-container{

    height: 100vh; /*altura da view port height*/

}

.form-signin{

    width: 330px;
    padding: 15px;
    margin:auto;
    position: relative;
}

.form-signin input[type="email"]{
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.form-signin input[type="password"]{
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.login-links a{
    text-decoration: none;
    font-size: 10pt;


}
/*background*/
.wrapper-bg{

    /*background-image: url(https://img.myloview.com.br/quadros/textura-de-fundo-de-tecnologia-de-alta-tecnologia-placa-de-circuito-ilustracao-vetorial-700-101871221.jpg);
    background-size: 100%;
    opacity: 0.5;  
*/
    position: relative;
}
    .wrapper-bg:before{
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.4;
    background-image: url('/public/Images/background_login.jpg');
    background-repeat: no-repeat;
    /*background-position: 50% 0;*/
    background-size: 100%;
}

.icon_login{ /*vai estilizar os icones*/
    color: #0d6efd;
    margin-bottom: 15px; /*espaçamento do icone até o texto*/
    padding: 0%, 0%, 0%, 50%;
}
